h1{
    color:purple;
}

 h2{
    color: blue;
}
body{
    background-color: aqua;
    background-image:url(https://wallpaperscraft.com/image/black_background_pattern_light_texture_55291_3840x2400.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    color:blue;
}
#angrygirl{
    height: 50%;
    width:50%;
}
